
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(221, 255, 14, 0.1);
}
.btn-primary{
  color: white;
  background-color: #FF900E;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  p
}
/* header style */

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  
}
.banner-heading{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner-image{
  width: 100%;
}
/* Responsive media quary */
@media screen and (max-width:576px) {
  .navbar, .nav-list{
    flex-direction: column;
  }
}