
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(221, 255, 14, 0.1);
}
.btn-primary{
  color: white;
  background-color: #FF900E;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  p
}
.main{
  max-width: 1440px;
  margin: 0 auto;
}
.section-title{
 font-size: 2.8rem;
 
}

/* header style */

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}

.nav-items{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  
}
.banner-heading{
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.banner-image{
  width: 100%;
  padding-bottom: 45px;
}
/* main style */
.teams{
  align-items: center;
  margin: 0 auto;
  margin-top: 85px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.our-features{
  padding-left: 73px;
  max-width:576px ;
}


.span2{
  font-weight: bold;
}
#text-light-gray{
  font-weight: 500;
  color: #727272;
}
.span3{
  color: #FF900E;
}
.text{
  font-size: 1rem;
  line-height: 1.7rem;
  color: #727272;
  padding-bottom: 12px;
  
 
}
/* Responsive media quary */
@media screen and (max-width:576px) {
  .navbar, .nav-list{
    flex-direction: column;
  }
  .teams{
    flex-direction: column;
    
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
    
  }
  .our-features{
    padding-left: 20px;
   
  }

}